
body {
   background: url(https://s-media-cache-ak0.pinimg.com/originals/17/0d/9c/170d9cdcb5432859db545ac625ac2e87.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: bold;
}

#preamble {
font-family: 'Pinyon Script', cursive;
font-size: 1.25em;
}

#bigger {
  font-size: 3em;
}

#parseBtn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 12px;
    display: inline-block;

}

#parseBtn:hover {
    background-color: #000;
    color: white;
}


